# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# DotEnv configuration
.env

# Database
*.db
*.rdb

# Pycharm
.idea

# VS Code
.vscode/
*.code-workspace

# Spyder
.spyproject/

# Jupyter NB Checkpoints
.ipynb_checkpoints/

# Mac OS-specific storage files
.DS_Store

# vim
*.swp
*.swo

# Mypy cache
.mypy_cache/

# Exclude virtual environment
.venv/

# Exclude trained models
/models/

# exclude data from source control by default
# /data/
data/processed/AllClinical00_variable_inventory.csv
data/raw/AllClinical00.csv
data/raw/koos_womac_crosswalk.csv
data/raw/misc_crosswalk.csv
data/raw/oai_pase01_definitions.csv
data/raw/oai_ces_d01_definitions.csv
data/raw/oai_charlson01_definitions.csv
data/raw/oai_koos_womac01_definitions.csv
data/raw/oai_labcollection01_definitions.csv
data/raw/oai_nutrition01_definitions.csv
data/raw/oai_oapain01_definitions.csv
data/raw/oai_oarisk01_definitions.csv
data/raw/oai_physfunct01_definitions.csv
data/raw/oai_sf1201_definitions.csv
data/raw/metadata/AllClinical00.csv
data/raw/metadata/koos_womac_crosswalk.csv
data/raw/metadata/misc_crosswalk.csv
data/raw/metadata/oai_ces_d01_definitions.csv
data/raw/metadata/oai_charlson01_definitions.csv
data/raw/metadata/oai_koos_womac01_definitions.csv
data/raw/metadata/oai_labcollection01_definitions.csv
data/raw/metadata/oai_nutrition01_definitions.csv
data/raw/metadata/oai_oapain01_definitions.csv
data/raw/metadata/oai_oarisk01_definitions.csv
data/raw/metadata/oai_pase01_definitions.csv
data/raw/metadata/oai_physfunct01_definitions.csv
data/raw/metadata/oai_sf1201_definitions.csv
